body {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
}
.header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: white;
  box-shadow: 0px 5px 20px rgb(214, 214, 214);
  z-index: 1;
}
.header-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 86px;
  height: 34px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.intro {
  border-bottom: 1px #DDDDDD solid;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  height: 768px;
}
.intro-header__logo {
  position: absolute;
  top: 24px;
  left: 24px;
}
.intro-overview {
  width: 100%;
  position: absolute;
}
.intro-overview-box {
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-overview-box-content {
  width: 100%;
  padding-left: 80px;
  padding-right: 24px;
}
.intro-title {
  max-width: 400px;
  margin-bottom: 40px;
  /* padding-left: 80px; */
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.intro-desc {
  max-width: 360px;
  /* max-width: 400px; */
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.intro-button {
  width: 135px;
  height: 55px;
  font-weight: 600;
}
.start-button {
  border: 0px;
  border-radius: 10px;
  background: linear-gradient(#E61E4F,#D70665);
  color: white;
}
.intro-cards {
  position: relative;
  margin-left: auto;
  width: 60%;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  overflow: scroll;
  white-space: nowrap;
  /* box-shadow: inset 65px 0.3em 0.9em black; */
}
.intro-cards-shadow {
  display: none;
  width: 65px;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 40%;
  box-shadow: inset 30px 30px 30px white;
  z-index: 1;
}
.intro-cards::-webkit-scrollbar {
  display:none;
}
.intro-card__img {
  width: 320px;
  height: 425px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 40px;
}
.intro-card__title {
  margin-top: 18px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}
.intro-card__desc {
  margin-bottom: 15px;
  color: #222222;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}
.intro-card__link {
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: underline;
}
.intro-slider {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: row;
}
.slider__frame {
  width: 33px;
  height: 33px;
  border: solid 1px #000000;
  border-radius: 50%;
  text-align: center;
}
.slider__content {
  line-height: 30px;
}
/* フロー部分 */
.flow {
  padding-left: 80px;
  height: calc(670px - 75px);
}
.flow__title {
  margin-top: 75px;
  margin-bottom: 55px;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}
.flow-box {
  display: flex;
  width: 100%;
  position: relative;
}
.flow-cards {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}
.flow-cards::-webkit-scrollbar {
  display:none;
}
.flow-cards-shadow {
  width: 65px;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.flow-cards-shadow-left {
  display: none;
  box-shadow: inset 30px 20px 20px white;
  top: 0;
  left: 0;
}
.flow-slider__frame {
  width: 33px;
  height: 33px;
  border: solid 1px #000000;
  border-radius: 50%;
  text-align: center;
}
.flow-slider-left {
  position: absolute;
  top:25%;
}
.flow-slider-right {
  position: absolute;
  bottom:25%;
}
.flow-cards-shadow-right {
  /* transform: scale(1, -1); */
  transform: rotate(180deg);
  box-shadow: inset 30px 20px 20px white;
  top: 0;
  right: 0;
}
.flow-card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 320px;
}
.flow-card__img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 40px;
}
.flow-card__title {
  width: 100%;
  white-space: normal;
  margin-top: 20px;
  margin-bottom: 0;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
.flow-card__desc {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  white-space: normal;
}
/* Choice部分 */
.choice {
  border-bottom: 1px #DDDDDD solid;
  height: 365px;
  padding-left: 80px;
  /* padding-bottom: 45px; */
}
.choice-cards {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}
.choice__title {
  margin-bottom: 55px;
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
}
.choice-card {
  margin-right: 30px;
}
.choice-card__img {
  width: 185px;
  height: 125px;
  border-radius: 10px;
}
.choice-card__title {
  margin: 12px 0 0 0 ;
  width: 100%;
  white-space: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
/* Assuarance部分 */
.assurance {
  height: calc(619px - 75px);
  padding-left: 80px;
}
.assurance-cards {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}
.assurance-card {
  width: 28%;
  margin-right: 80px;
}
.assurance__title {
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}
.assurance-card__img {
  border-radius: 10px;
  margin-right: 28px;
  margin-bottom: 24px;
}
.assurance-card__title {
  width: 100%;
  white-space: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.assurance-card__desc {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  white-space: normal;
}
.assurance-card__link {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: underline;
  white-space: normal;
}
/* Check部分 */
.check {
  background-color: #F2ECE2;
  width: 100%;
}
.check-outline {
  padding-left: 80px;
}
.check-content {
  display: flex;
  flex-direction: row;
  height: 580px;
  position: relative;
  align-items: center;
}
.check-overview {
  width: 43%;
}
.check-subtitle {
  line-height: 22px;
  font-size: 18px;
  font-weight: 800;
}
.check-title {
  line-height: 48px;
  font-size: 42px;
  font-weight: 800;
}
.check-price {
  color: #e41e57;
}
.check-link {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #484848;
  text-decoration: underline;
}
.check-question {
  position: absolute;
  border-radius: 20px;
  box-shadow: 0px 0px 20px lightgray;
  left: 75%;
  transform: translateX(-50%);
  width: 544px;
  height: 432px;
  background-color: white;
}
.check-question-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 35px 30px;
}
.check-question-top {
  width: 480px;
  height: 310px;
  overflow: scroll;
}
.initial-questions {
  width: 480px;
}
.questions-box {
  padding: 0 10px 0;
  height: 56px;
  border: solid lightgray 1px;
  line-height: 55px;
}
.questions-box + .questions-box {
  border-top: none;
}
.questions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.questions-address {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.questions-address__input {
  border: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.questions-address__input:focus {
  outline: none;
  border: 2px solid #000000;
  border-radius: 5px;
}
.questions-roomtype {
  position: relative;
}
.questions-roomtype-select {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.roomtype-select-content {
  display: none;
  position: absolute;
  border: solid lightgray 1px;
  border-radius: 5px;
  padding: 16px;
  background-color: white;
  width: 480px;
  height: auto;
  left: 0;
  z-index: 1;
}
.roomtype-select {
  width: 448px;
  height: auto;
  padding: 12px;
  cursor: pointer;
  display: flex;
}
.roomtype-select__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  pointer-events: none;
}
.roomtype-select-bottom {
  /* display: flex; */
  pointer-events: none;

}
.roomtype-select__desc {
  margin: 0;
  color: #484848;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.roomtype-check {
  display: none
}
.roomtype-check_checked {
  display: table-cell;
  padding: 0 10px 0;
  height: inherit;
  /* line-height: 86px; */
  vertical-align: middle;
  /* box-align: center; */
  /* vertical-align: -100%; */
}
.questions-num {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.questions-num__select {
  border: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.questions-num__select:focus {
  outline: none;
}
.check-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
}
.question-building-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.question-bathroom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.questions-select {
  border: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
/* 第２段目質問/ */
.preceding-second-questions {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.second-questions {
  display: none;
}
/* 最後の質問 */
.preceding-last-questions {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.last-questions {
  display: none;
}
.questions-checkbox-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 126px;
}
.questions-checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.questions-checkbox-box > label {
  margin: 0;
}
.questions-checkbox-box__input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: password;
  width: 23px;
  height: 23px;
  margin-right: 15px;
  border-color: lightgray;
  text-align: center;
}
.questions-checkbox-box__input:after{
  width: 23px;
  height: 23px;
  margin-right: 15px;
  border-color: lightgray;
  text-align: center;
}
.questions-checkbox-box__input:hover {
  width: 23px;
  height: 23px;
  margin-right: 15px;
  border-color: black;
  border: black 2px solid;
  text-align: center;
}
.questions-checkbox-box__input:checked {
  background-color: #000000;
}
/* 送信フォーム */
.check-button-box {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 56px;
  padding: 0 35px 0;
}
.check-button {
  border-radius: 10px;
  border: none;
  width: inherit;
  height: inherit;
  background-color: #000000;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
/* Support部分 */
.support {
  height: 736px;
  width: 100%;
  border-bottom: 1px #DDDDDD solid;
}
.support-content {
  padding-top: 75px;
  padding-left: 80px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.support-title {
  flex: 1;
  width: 44%;
}
.support-title__content {
  font-size: 42px;
  font-weight: 800;
  line-height: 48px;
}
.support-overview {
  flex: 1;
  text-align: left;
  width: 44%;
}
.support-card {
  display: flex;
  flex-direction: row;
}
.support-card__right {
  display: flex;
  flex-direction: column;
}
.support-card__img {
  margin-right: 20px;
}
.support-card__title {
  margin: 0;
  line-height: 28px;
  font-size: 18px;
  font-weight: 800;
}
.support-card__desc {
  margin-bottom: 60px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}
/* ready部分 */
.ready {
  border-bottom: 1px #DDDDDD solid;
  height: 345px;
  width: 100%;
}
.ready-content {
  padding-top: 75px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
}
.ready-title {
  padding-right: 25px;
  flex: 1;
  font-size: 42px;
  font-weight: 800;
  line-height: 48px;
}
.ready-overview {
  padding-right: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ready-desc {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.ready-button {
  width: 135px;
  height: 55px;
  font-weight: 600;
}

/* Footer部分 */
.footer {
  background-color: #F7F7F7;
  height: 508px;
}
.footer {
  padding: 50px 80px 30px 80px;
}
.footer-top__links {
  display: flex;
  flex-direction: row;
}
.footer-top__title {
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}
.footer-top__list {
  flex: 1;
}
.footer-top__link {
  display: block;
  margin-bottom: 18px;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #484848;
  text-decoration: none;
}
.footer-bottom__company {
  display: block;
  color: #484848;
}
.footer-bottom__company__span {
  display: block;
}
.footer-bottom__rights {
  display: block;
}
.footer-bottom__links {
  display: inline;
}
.footer-bottom__icons {
  /* float: right; */
}
.footer-bottom__link {
  color: #484848;
}
/* モーダルウィンドウ */
.modal-w {
  border: solid 1px black;
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 1128px) {
  
}

@media screen and (max-width: 744px) {
  
}