body {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
}
.header__logo {
  padding-top: 24px;
  margin-left: 24px;
}
.main__container {
  margin: 0 0 0 80px;
}
.intro {
  margin-top: 65px;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
}
.intro__overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.intro__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}
.intro-cards {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}
.intro-card__img {
  width: 320px;
  height: 425px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 40px;
}
.intro-card__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}
.intro-card__desc {
  color: #222222;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}
.intro-card__link {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1128px) {
  
}

@media screen and (max-width: 744px) {

}